<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fafd517f-72d8-4527-b612-4b5277a89c62/resourceGroups/event-gabriel/providers/Microsoft.Web/sites/eventpluswebapi-gabriel</ResourceId>
    <ResourceGroup>event-gabriel</ResourceGroup>
    <ApiResourceId>/subscriptions/fafd517f-72d8-4527-b612-4b5277a89c62/resourceGroups/event-gabriel/providers/Microsoft.ApiManagement/service/eventpluswebapi-gabriel/apis/webapievent</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://eventpluswebapi-gabriel.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>f1118c6c-acbe-4950-b455-3e273be090e2</ProjectGuid>
    <MSDeployServiceURL>eventpluswebapi-gabriel.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>eventpluswebapi-gabriel</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$eventpluswebapi-gabriel</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>